RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteRule ^Top-Romantic-Song's  romantic_song [NC,L]
RewriteRule ^2000s-Song's-Collection  Song_Collection/2000s_Collection [NC,L]
RewriteRule ^1990s-Song's-Collection  Song_Collection/1990s_Collection [NC,L]
RewriteRule ^1980s-Song's-Collection  Song_Collection/1980s_Collection [NC,L]


#FOR CUSETOME ERROR PAGE
ErrorDocument 404  /nayan/error